<footer class="footer">
  <div class="wrapper">
    <nav class="menu_articles">
      <ul>
        <li>
          <a href="https://adalab.es/" title="Go to articles">articles</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to books">books</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to events">events</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to reasons">reasons</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to tips">tips</a>
        </li>
      </ul>
    </nav>
    <nav class="menu_social">
      <ul>
        <li>
          <a href="https://adalab.es/" title="Go to Twitter">twitter</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to Instagram">instagram</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to mastodon.social">mastodon.social</a>
        </li>
      </ul>
    </nav>
    <div class="copy">
      <span>&copy;2020</span>
      <span>we <span class="heart">❤︎</span> components</span>
    </div>
  </div>  
</footer>