<footer class="footer">
  <section class="arrow">
    <div class="circle">
        <a href="#top" title="Go back to the top of the page">
            <img src="./assets/images/ico-arrow.svg" alt="">
        </a>
    </div>
</section>
  <div class="wrapper">
    <nav class="menu_articles">
      <ul>
        <li>
          <a href="https://adalab.es/" title="Go to 'Articles'">articles</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to 'Books'">books</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to 'Events'">events</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to 'Reasons'">reasons</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to 'Tips'">tips</a>
        </li>
      </ul>
    </nav>
    <nav class="menu_social">
      <ul>
        <li>
          <a href="https://adalab.es/" title="Go to Twitter">twitter</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to Instagram">instagram</a>
        </li>
        <li>
          <a href="https://adalab.es/" title="Go to mastodon.social">mastodon.social</a>
        </li>
      </ul>
    </nav>
    <div class="copy">
      <span class="block">&copy;2020</span>
      <span class="block">we <span class="heart">❤︎</span> components</span>
    </div>
  </div>  
</footer>