<section class="hero" id="top">
    <a class="menu" href="https://adalab.es/" title="Go to Adalab website">
        <img src="./assets/images/ico-menu.svg" alt="">
    </a>
    <div class="wrapper">
        <h1>
            <span>anonymous</span>
            <span>proxy</span>
        </h1>
        <p>
            In hac habitasse platea dictumst.
        </p>
        <div class="circle">
            <a href="#purchase" title="Go to 'Reasons to Purchase' section below">
                <img src="./assets/images/ico-scroll-down.svg" alt="">
            </a>
        </div>
    </div>
</section>