<section class="purchase" id="purchase">
  <div class="wrapper">
    <h2 class="reason_title">
      3 reasons to purchase
    </h2>
    <div class="reason reason_1">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consectetur.</p>
    </div>
    <div class="reason reason_2">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="reason reason_3">
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt.</p>
    </div>
    <div class="button_highlight">
      <a href="#" title="See more reasons">More reasons</a>
    </div>
  </div>
</section>
