<section class="purchase">
    <div class="wrapper">
        <h2 class="reason_title">
            3 reasons to purchase
        </h2>
        <div class="reason_1">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="reason_2">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="reason_3">
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="button_highlight">
            <span>More reasons</span>
        </div>
    </div>
</section>
<section class="arrow">
    <div class="circle">
        <img src="./assets/images/ico-arrow.svg" alt="">
    </div>
</section>