@mixin tablet {
    @media all and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media all and (min-width: $desktop) {
        @content;
    }
}

@mixin font($color, $fontFamily, $fontSize, $fontWeight, $lineHeight) {
    color: $color;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}