// FONTS
$font-family-primary: 'Roboto', sans-serif;
$font-family-title: 'Roboto Slab', serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$line-height-s: 30px;
$line-height-m: 45px;
$line-height-l: 55px;
$line-height-xl:106px;
$line-height-xxl: 132px;

// COLORS
$color-primary: #304268;
$color-secondary: #0271bc; 
$color-tertiary: #8ccbea;
$color-tertiary-light: #eff9ff;
$color-highlight: #f26002;
$color-dark: #000000;
$color-midtone: #4a4a4a;
$color-light: #ffffff;

