.footer {
    background-color: $color-primary;
    padding-top: 60px;
    padding-bottom: 45px;
    @include tablet{
        padding-top: 45px;
    }

    & .wrapper {
        text-align: center;
        text-transform: uppercase;
        @include font($color-light, $font-family-primary, 16px, $font-weight-regular, $line-height-s);
        @include tablet{
            display: flex;
            justify-content: space-between;
            text-align: left;
        }
        @include desktop {
            justify-content: center;
        }

        & .menu_articles {
            margin-bottom: 30px;
            @include tablet{
                margin-bottom: 0;
                order: 1;
                margin-left: 30px;
                width: 210px;
            }
            @include desktop {
                width: 160px;
            }
        }

        .menu_social {
            margin-bottom: 30px;
            @include tablet{
                order: 1;
                margin-left: 30px;
                margin-bottom: 0;
                width: 210px;
            }
            @include desktop {
                width: 160px;
            }
        }

        & .copy {
            font-size: 14px;
            text-transform:none;
            @include tablet{
                width: 210px;
            }
            @include desktop {
                width: 160px;
            }

            & .block {
                display: block;
            }
            
            & .heart {
                color: $color-highlight;
            }
        }
    }
}