.hero {
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;

    & .menu {
        position: fixed;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-secondary;
    }

    & .wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;  
        & h1 {
            text-transform: uppercase;
            color: $color-light;
            font-family: $font-family-title;
            font-weight: $font-weight-bold;
            font-size: 45px;
            line-height: $line-height-l;
            text-align: center;
            margin-bottom: 10px;
            & span {
                display: block;
            }
        }
        & p {
            color: $color-light;
            font-family: $font-family-primary;
            font-weight: $font-weight-regular;
            font-size: 16px;
            padding-bottom: 45px;
        }
        & .circle {
            height: 45px;
            width: 45px;
            background-color: $color-light;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 53px;
        }
    }
}