.hero {
    background-image: url('../images/cover.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;

    & .menu {
        position: fixed;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-secondary;
    }

    & .wrapper {
        padding-bottom: 53px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center; 
        @include tablet {
            padding-bottom: 45px;
        }

        & h1 {
            text-transform: uppercase;
            color: $color-light;
            font-family: $font-family-title;
            font-weight: $font-weight-bold;
            font-size: 45px;
            line-height: $line-height-l;
            text-align: center;
            margin-bottom: 10px;
            @include tablet {
                font-size: 80px;
                line-height: $line-height-xl;
                margin-bottom: 20px;
            }
            
            & p {
                display: block;
            }
        }
        & p {
            color: $color-light;
            font-family: $font-family-primary;
            font-size: 16px;
            margin-bottom: 45px;
            @include tablet {
            font-size: 24px;
            margin-bottom: 30px;
            }
        }
        & .circle {
            height: 45px;
            width: 45px;
            background-color: $color-light;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}