.purchase {
    background-color: $color-tertiary-light;
    & .wrapper {
        padding-top: 30px;
        padding-bottom: 60px;
        display: grid;
        grid-template-rows: 75px 1fr 1fr 1fr 45px;
        text-align: center;
        @include tablet {
            grid-template-rows: 90px 1fr 45px;
            grid-template-columns: repeat(3,1fr);
        }

        & .reason_title {
            text-transform: capitalize;
            font-family: $font-family-title;
            color: $color-dark;
            font-size: 24px;
            line-height: $line-height-s;
            margin-bottom: 45px;
            @include tablet {
                grid-column: 1 / 4;
                grid-row: 1 / 2;
                font-size: 26px;
                line-height: $line-height-m;
            }
        }
        & .reason_1 {
            font-size: 18px;
            line-height: $line-height-s;
            margin-bottom: 45px;
            @include tablet {
                grid-column: 1 / 2;
                grid-row: 2/ 3;
                margin-bottom: 60px;
            }

            & h3 {
                font-family: $font-family-title;
                @include tablet {
                    margin-bottom: 14px;
                }
            } 
            & p {
                font-family: $font-family-primary;
            } 
        }
        & .reason_2 {
            font-size: 18px;
            line-height: $line-height-s;
            margin-bottom: 45px;
            @include tablet {
                grid-column: 2/ 3;
                grid-row: 2/ 3;
                margin-bottom: 60px;
            }
    
            & h3 {
                font-family: $font-family-title;
                @include tablet {
                    margin-bottom: 14px;
                }
            } 
            & p {
                font-family: $font-family-primary;
            }         
        }
        & .reason_3 {
            font-size: 18px;
            line-height: $line-height-s;
            margin-bottom: 45px;
            @include tablet {
                grid-column: 3/ 4;
                grid-row: 2/ 3;
                margin-bottom: 60px;
            }
    
            & h3 {
                font-family: $font-family-title;
                @include tablet {
                    margin-bottom: 14px;
                }
            } 
            & p {
                font-family: $font-family-primary;
            } 
        }
        & .button_highlight {
            margin: auto;
            border-radius: 22.5px;
            background-color:$color_highlight;
            height: 45px;
            width: 184px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include tablet {
                grid-column: 1/ 4;
                grid-row: 3/ 4;
                width: 210px;
            }

            & a {
                text-transform: initial;
                font-family: $font-family-primary;
                font-size: 20px;
                color: $color-light;
                font-weight: $font-weight-medium;
                line-height: $line-height-m;
                transition: font-size linear 0.5s;
                &:hover {
                    font-size: 22px;
                }
            }
        }
    }
}

.arrow {
position: relative;
    & .circle {
        height: 45px;
        width: 45px;
        background-color: $color-light;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 4px 0 transparentize($color-dark, 0.5);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);

        animation-name: up;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: infinite;        
    }
}

@keyframes up{
    from {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 2px 4px 0 transparentize($color-dark, 0.5);
    }
    to {
        transform: translate(-50%, -50%) scale(1.2);
        box-shadow: 0 2px 8px 2px transparentize($color-dark, 0.5);
    }
}