.purchase {
    background-color: $color-tertiary-light;
    & .wrapper {
        padding-top: 30px;
        padding-bottom: 60px;
        display: grid;
        grid-template-rows: 75px 1fr 1fr 1fr 45px;
        text-align: center;
        & .reason_title {
            font-family: $font-family-title;
            color: $color-dark;
            font-size: 24px;
            line-height: $line-height-s;
            margin-bottom: 45px;
        }
        & .reason_1 {
            line-height: $line-height-s;
            margin-bottom: 45px;
            & h3 {
                font-family: $font-family-title;
            } 
            & p {
                font-family: $font-family-primary;
            } 
        }
        & .reason_2 {
            line-height: $line-height-s;
            margin-bottom: 45px;
            & h3 {
                font-family: $font-family-title;
            } 
            & p {
                font-family: $font-family-primary;
            }         
        }
        & .reason_3 {
            line-height: $line-height-s;
            margin-bottom: 45px;
            & h3 {
                font-family: $font-family-title;
                
            } 
            & p {
                font-family: $font-family-primary;
            } 
        }
        & .button_highlight {
            margin: auto;
            border-radius: 22.5px;
            background-color:$color_highlight;
            height: 45px;
            width: 184px;
            display: flex;
            justify-content: center;
            align-items: center;
            & a {
                text-transform: initial;
                font-family: $font-family-primary;
                font-size: 20px;
                color: $color-light;
                font-weight: $font-weight-medium;
                line-height: $line-height-m;
                transition: font-size linear 0.5s;
                &:hover {
                    font-size: 22px;
                }
            }
        }
    }
}

.arrow {
width: 100vw;
border: 1px solid black;
position: relative;
    & .circle {
        height: 45px;
        width: 45px;
        background-color: $color-light;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 4px 0 transparentize($color-dark, 0.5);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);

        animation-name: up;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        
    }
}

@keyframes up{
    from {
        transform: translate(-50%, -50%);
    }
    to {
        transform: translate(-50%, -70%);
    }
}