.tips {
    & .wrapper {
        padding-top: 30px;
        padding-bottom: 45px;
        & .small {
            text-transform: capitalize;
            color: $color-tertiary;
            font-family: $font-family-primary;
            font-size: 14px;
            line-height: $line-height-s;
            margin-bottom: 0;
        }
        & h2 {
            text-transform: capitalize;
            color: $color-dark;
            font-family: $font-family-title;
            font-weight: $font-weight-bold;
            font-size: 24px;
            margin-bottom: 15px;
        }
        & p {
            color: $color-midtone;
            font-family: $font-family-primary;
            font-size: 18px;
            line-height: $line-height-s;
            margin-bottom: 30px;
        }
        & .button_default {
            border-radius: 22.5px;
            border: 2px solid $color-highlight;
            height: 45px;
            width: 76px;
            display: flex;
            justify-content: center;
            align-items: center;
            & span {
                color: $color-highlight;
                font-family: $font-family-primary;
                font-size: 20px;
                line-height: $line-height-m;
            }
        }
    }
}